
@{
    ViewBag.Title = "登入";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@*<style>
    html, body {
        width: 100%;
        height: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
    }
</style>

<script>
    var map;
    function initMap() {

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0xOKdg7UH0RrFHjydfMhRIz2xvpWkB9E&callback=initMap" async defer></script>*@
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.main.css" rel="stylesheet"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.main.css"  />
<script src="https://code.jquery.com/jquery-3.3.1.main.js"></script>
<script src="bootstrap-show-password.main.js"></script>
<style>
   
    html {
        height: 100%;
    }

    body {
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left;
        background-size: cover;
    }

   
</style>
<div class="login-brand">
    <span class="nav_logo-name2">&nbsp;</span>
    @*<div id="map"></div>*@
</div>

@using (Html.BeginForm("CompanyLogin", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="card2 card-primary" style="width:350px;margin-left:-15px;">
    <div class="card-header" style="padding-bottom:0px;margin-top:5px"><p style="margin-bottom:15px">Sign in to Punch</p></div>
    @*<div class="card-header"><p>Sign in to Punch</p></div>*@

    <div class="card-body" style="padding-top:15px;padding-bottom:15px">
        <form method="POST" action="#" class="needs-validation" novalidate="">
            <div class="form-group">
                <input id="code" name="code" type="text" class="form-control" placeholder="請輸入公司ID" tabindex="1" maxlength="30" required >
            </div>
            <div class="form-group">
                <input id="emaillogin" name="email" type="email" class="form-control" placeholder="請輸入管理員信箱" tabindex="1" >
            </div>
            <div class="form-group">
                <div class="input-group" >
                    <input id="manager_password" name="manager_password" type="password" class="form-control" data-toggle="password" placeholder="請輸入管理員密碼" maxlength="30" required>
                    <div class="input-group-append" >
                        <div class="input-group-text" onclick="showPsw()" id="pswimg" style="border: 1px solid #C2BFBF; background-color: #FFFFFF; box-shadow: 3px 3px 3px #D2D3D3;cursor:pointer;">
                            <i id="hide" class="bi bi-eye-slash" style="display:inline-block;"></i>
                            <i id="show" class="bi bi-eye"  style="display:none;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" tabindex="4" style="background-image: linear-gradient(to top, #09203f 0%, #537895 100%); opacity: 40%; border: 1px solid #ABB7C3">
                    Login
                </button>
            </div>
            <div class="form-group" style="margin-bottom:10px;margin-left:5px">
                <nobr id="companyhello"><a href="/ForgetPassword/Index" id="companyhello" style="font-size:14px">忘記密碼?</a></nobr>
            </div>
        </form>
    </div>
</div>
}
<script>
    var x = document.getElementById("manager_password");
    function showPsw() {
        if (x.type === "password") {
            x.type = "text";
            document.getElementById('show').style.display = "inline-block";
            document.getElementById('hide').style.display = "none";
        } else {
            x.type = "password";
            document.getElementById('hide').style.display = "inline-block";
            document.getElementById('show').style.display = "none";
        }
    }
</script>

