@{
    ViewBag.Title = "權限設定";
   List<AttendanceManagement.Models.Manager> managers = ViewBag.managers;//公司全部的管理員
}
<style>
    h5{
        font-size:14px;
    }
    label {
        font-size: 14px;
    }
</style>

<div class="main-content">
    <section class="section">
        <h3 class="page_name">
            權限設定
        </h3>
        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-8">
                    <div class="card" id="BigBorder" style="border:1px solid #CCC;box-shadow:0px 0px 1px;">
                        <div class="card-header">
                            <h4 id="BigTitle">權限套用對象設定</h4>
                        </div>
                        <hr style="margin: 10px 20px 0px 20px ;border-top:2px solid #ccc;" />

                        <div class="card-body">
                            <div id="SmallContentBorder" style="margin-left:0 ;border:1px solid #FFFFFF">
                                <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                    <div class="row">
                                        <div class="col-3" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">管理員姓名</h5>
                                        </div>
                                        <div class="col-3" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">部門</h5>
                                        </div>
                                        <div class="col-3" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">職稱</h5>
                                        </div>
                                        <div class="col-3" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">套用群組</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                @*<div id="SmallTopBorder">
                                        <div style=" display: flex; align-items: center; ">
                                            <h5 id="Content">資料顯示對象</h5>
                                        </div>
                                    </div>*@
                                <div id="SmallContentBorder" style="margin-left:0 ;border:1px solid #CCC">
                                   
                <div class="col align-self-center" style="margin:0 auto;text-align:center">
                    @foreach (var manager in managers)
                    {
                        <div class="row">
                            <div class="col" id="CenterSet">
                                <h5 id="textcenter">
                                    @manager.Name
                                </h5>
                            </div>
                            <div class="col" id="CenterSet">
                                <h5 id="textcenter">
                                    @manager.Department
                                </h5>
                            </div>
                            <div class="col" id="CenterSet">
                                <h5 id="textcenter">
                                    @manager.Jobtitle
                                </h5>
                            </div>
                            <div class="col" id="CenterSet">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin:0px auto;" id="select">
                                    <option selected>ㄏㄏ</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    }

        </div>
                                 
                                </div>
                        </div>
                        <div>
                            @*<div id="SmallTopBorder">
                                    <h5 id="Content">資料顯示對象</h5>
                                </div>*@
                            @*<div id="SmallContentBorder">
                                    <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                        <div class="row">
                                            <div class="col">
                                                SSD
                                            </div>
                                            <div class="col">
                                                經理
                                            </div>
                                            <div class="col">
                                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select">
                                                    <option selected>ㄏㄏ</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="SmallContentBorder">
                                    <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                        <div class="row">
                                            <div class="col">
                                                SSD
                                            </div>
                                            <div class="col">
                                                經理
                                            </div>
                                            <div class="col">
                                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select">
                                                    <option selected>ㄏㄏ</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <div>
                            @*<div id="SmallTopBorder">
                                    <h5 id="Content">資料顯示對象</h5>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card" id="BigBorder">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4" id="CenterSet">
                                <h4 id="BigTitle">群組</h4>
                            </div>
                            <div class="col-md-2 offset-md-6">
                                <button class="btn btn-primary" type="submit" id="smallbutton" style="background-color: #85B5FB; border: 1px solid #85B5FB;">新增群組</button>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 10px 20px 0px 20px" />
                    <div class="card-body">
                        <div class="col-6">
                            <div class="card" style="border:1px solid #555555; border-radius:4px">
                                <div class="card-header">
                                    <div class="row" style="padding:0px 10px 0px 0px">
                                        <div class="col-5" style="position: relative; display: flex; align-items: center; ">
                                            <div class="row" style="margin:0px 0px 0px -10px">
                                                <h4 id="Content">群組名 : </h4>
                                                <h4 id="Content">ㄏㄏ</h4>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="row" style="float:right">
                                                <button class="btn btn-primary" type="submit" id="smallbutton" style="background-color: #EBF2FA;  border: 1px solid #EBF2FA; "><img src="~/Content/images/edit-button.png" id="smallbuttonimg" /></button>
                                                <button class="btn btn-primary" type="submit" id="smallbutton" style="background-color: #FFCCD1;   border: 1px solid #FFCCD1; "><img src="~/Content/images/delete.png" id="smallbuttonimg" /></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin: 0px 20px 5px 20px" />
                                <div style="height: 320px; overflow-y: auto;overflow-x:hidden;">
                                    <div class="card-body" style="margin: 0 auto;">
                                        <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                            <div class="row">
                                                <div class="col-8" id="CenterSet">
                                                    <h5 style="font-size:14px;">資料顯示對象</h5>
                                                </div>
                                                <div class="col-4" id="CenterSet" >
                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="auditstate" onchange="showinfo(this[selectedIndex].value)">
                                                        <option selected value="11">全部</option>
                                                        <option value="21">同部門</option>
                                                        <option value="31">自訂</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="custom"  style="display:none;border:1px solid #dbdbdb;border-radius:4px;margin:0px 0px 10px 0px;">
                                               
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="row align-items-center" id="topborder">
                                                            <div class="col" id="CenterSet" style="font-size:14px">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaulttop">
                                                                    <label class="form-check-label" for="flexCheckDefaulttop">
                                                                        業務部
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="float-right" id="CenterSet">
                                                                <button type="submit"  class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#collapseContent" aria-expanded="false" aria-controls="collapseContent" id="smallbutton" style="background-color: #d0d0d0; border: 1px solid #d0d0d0; padding:2px;"><i class="bi bi-caret-down-fill" style="color: #555555;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="collapse" id="collapseContent">
                                                            <div class="row align-items-center" id="contentborder" style="padding:8px 0px 8px 0px;">
                                                                <div class="col" id="CenterSet" style="font-size:14px">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultcontent">
                                                                        <label class="form-check-label" for="flexCheckDefaultcontent">
                                                                            經理
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8" id="CenterSet">
                                                    <h5 id="Content">可審核對象</h5>
                                                </div>
                                                <div class="col-4" id="CenterSet" >
                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" onchange="showinfo(this[selectedIndex].value)">
                                                        <option selected value="12">全部</option>
                                                        <option value="22">同部門</option>
                                                        <option value="32">自訂</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="custom2" style="display: none;border: 1px solid #dbdbdb; border-radius: 4px; margin; margin: 0px 0px 10px 0px;">
                                            
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="row align-items-center" id="topborder">
                                                            <div class="col" id="CenterSet" style="font-size:14px">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaulttop">
                                                                    <label class="form-check-label" for="flexCheckDefaulttop">
                                                                        業務部
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="float-right" id="CenterSet">
                                                                <button type="submit"  class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#collapseContent" aria-expanded="false" aria-controls="collapseContent" id="smallbutton" style="background-color: #d0d0d0; border: 1px solid #d0d0d0; padding:2px;"><i class="bi bi-caret-down-fill" style="color: #555555;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="collapse" id="collapseContent">
                                                            <div class="row align-items-center" id="contentborder" style="padding:8px 0px 8px 0px;">
                                                                <div class="col" id="CenterSet" style="font-size:14px">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultcontent">
                                                                        <label class="form-check-label" for="flexCheckDefaultcontent">
                                                                            經理
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8" id="CenterSet">
                                                    <h5 style="font-size:14px">上下班時間設定</h5>
                                                </div>
                                                <div class="col-4" id="CenterSet">
                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select">
                                                        <option selected>可編輯</option>
                                                        <option value="不可編輯">不可編輯</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8" id="CenterSet">
                                                    <h5 style="font-size:14px">部門與職稱設定</h5>
                                                </div>
                                                <div class="col-4" id="CenterSet" >
                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select">
                                                        <option selected>可編輯</option>
                                                        <option value="不可編輯">不可編輯</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8" id="CenterSet">
                                                    <h5 id="Content">打卡位置設定</h5>
                                                </div>
                                                <div class="col-4" id="CenterSet" >
                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select">
                                                        <option selected>可編輯</option>
                                                        <option value="不可編輯">不可編輯</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr style="margin: 15px 0px 15px 0px" />
                                            <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                                <button class="btn btn-primary" type="submit" style="background-color: #DF5B57; border: 1px solid #DF5B57; border-radius: 4px; margin: 5px; ">取消</button>
                                                <button class="btn btn-primary" type="submit" style="background-color: #6CA7ED; border: 1px solid #6CA7ED; border-radius: 4px; margin: 5px; ">儲存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增群組</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
        @using (Html.BeginForm("Add", "Setting", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        
            <div class="modal-body">
                <div class="form-group">

                    <div class="card" style="border:1px solid #CCC;box-shadow:0px 0px 0px;">
                        <div class="card-header">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2" style="padding:0">
                                        <h4 align="right" id="Content" style="float:right;margin-right:10px">群組名 : </h4>
                                    </div>
                                    <div class="col-md-10" style="padding-left:0">
                                        <input type="text" class="show" id="department_name" name="department_name" style=" width: 100%;width: 100%;border:none;outline:medium; border-bottom: 1px solid #ccc;font-size: 16px;" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0px 20px 0px 20px" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7" id="CenterSet">
                                    <div>
                                        <h5 id="Content">資料顯示對象</h5>
                                    </div>
                                </div>
                                <div class="col-5" id="CenterSet">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select">
                                        <option selected>全部</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7" id="CenterSet">
                                    <h5 id="Content">可審核對象</h5>
                                </div>
                                <div class="col-5" id="CenterSet">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select">
                                        <option selected>全部</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7" id="CenterSet">
                                    <h5 style="font-size:14px">上下班時間設定</h5>
                                </div>
                                <div class="col-5" id="CenterSet">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select">
                                        <option selected>可編輯</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7" id="CenterSet">
                                    <h5 style="font-size:14px">部門與職稱設定</h5>
                                </div>
                                <div class="col-5" id="CenterSet">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px ">
                                        <option selected>不可編輯</option>
                                        <option value="1">one</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7" id="CenterSet">
                                    <h5 id="Content">打卡位置設定</h5>
                                </div>
                                <div class="col-5" id="CenterSet">
                                    <select data-width="200px" class="form-select form-select-sm" aria-label=".form-select-sm example" id="select">
                                        <option selected>不可編輯</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <hr style="margin: 10px 0px 10px 0px" />
                            <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                <button class="btn btn-primary" type="submit" style="background-color: #DF5B57; border: 1px solid #DF5B57; border-radius: 4px; margin: 5px; ">取消</button>
                                <button class="btn btn-primary" type="submit" style="background-color: #6CA7ED; border: 1px solid #6CA7ED; border-radius: 4px; margin: 5px; ">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           }
        </div>
    </div>
</div>

<script type="text/javascript">
    function showinfo(values) {
        if (values == 11) {
            $("#custom").css("display", "none");
        }
        if (values == 21) {
            $("#custom").css("display", "none");
        }
        if (values == 31) {
            $("#custom").css("display", "block");
        }
        if (values == 12) {
            $("#custom2").css("display", "none");
        }
        if (values == 22) {
            $("#custom2").css("display", "none");
        }
        if (values == 32) {
            $("#custom2").css("display", "block");
        }

    }
</script>
