
@{
    ViewBag.Title = "DataExport";
}

<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>資料匯出</div>
        </h1>


        <form class="form-inline mr-auto" method="post" action="DataExport">
            <div class="row">
                <div class="col-lg-auto col-md-6 col-12">
                    <i class="bi-person"></i> 姓名(ID)：
                    <select class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <option>請選擇員工姓名(ID)</option>
                        <option>Dog</option>
                    </select>
                </div>
                <div class="col-lg-auto col-md-5 col-12">
                    <i class="bi-calendar"></i> 日期：<input class="form-control" type="date" placeholder="Search" aria-label="Search">&nbsp;至&nbsp;<input class="form-control" type="date" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-lg-auto col-md-1 col-12">
                    <div class="search-element">
                        <button class="btn btn-success" type="submit">匯出</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

