
@{
    ViewBag.Title = "TripRecords";
}

<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>審核公出</div>
        </h1>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>公出申請紀錄</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>批示狀態</th>
                                        <th>申請人</th>
                                        <th>申請時間</th>
                                        <th>公出地點</th>
                                        <th>公出期間</th>
                                        <th>審核</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><div class="badge badge-success">審核通過</div></td>
                                        <td>
                                            <a href="#"><img src="~/Content/employee.png" alt="avatar" width="30" class="rounded-circle mr-1">王大明</a>
                                        </td>
                                        <td>2021-06-13 14:36:00</td>
                                        <td>卓越路2號</td>
                                        <td>2021-07-02 10:00:00 ~ 14:00:00</td>
                                        <td>
                                            <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="bi-pencil-square"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="badge badge-warning">審核中</div></td>
                                        <td>
                                            <a href="#"><img src="~/Content/employee.png" alt="avatar" width="30" class="rounded-circle mr-1">王大明</a>
                                        </td>
                                        <td>2021-06-13 14:36:00</td>
                                        <td>卓越路2號</td>
                                        <td>2021-07-02 10:00:00 ~ 14:00:00</td>
                                        <td>
                                            <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="bi-pencil-square"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="badge badge-danger">審核不通過</div></td>
                                        <td>
                                            <a href="#"><img src="~/Content/employee.png" alt="avatar" width="30" class="rounded-circle mr-1">王大明</a>
                                        </td>
                                        <td>2021-06-13 14:36:00</td>
                                        <td>卓越路2號</td>
                                        <td>2021-07-02 10:00:00 ~ 14:00:00</td>
                                        <td>
                                            <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="bi-pencil-square"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

