
@{
    ViewBag.Title = "Index";
}

    <div class="main-content">
        <section class="section">
            <h1 class="section-header">
                <div>系統設定</div>
            </h1>
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>WiFi設定</h4>
                            </div>
                            <div class="card-body">
                                <form class="form-inline mr-auto">
                                    <div class="row">
                                        <div class="col-lg-auto col-md-6 col-12">
                                            WiFi1：<input class="form-control" type="text" placeholder="請輸入WiFi" aria-label="Search">
                                        </div>
                                        <div class="col-lg-auto col-md-5 col-12">
                                            WiFi2：<input class="form-control" type="text" placeholder="請輸入WiFi" aria-label="Search">
                                        </div>
                                        <div class="col-lg-auto col-md-1 col-12">
                                            <button class="btn btn-primary" type="submit">修改</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>變更後台登入密碼</h4>
                            </div>

                            <div class="card-body">
                                <form class="form-inline mr-auto">
                                    <div class="row">
                                        <div class="col-lg-auto col-md-10 col-12">
                                            新後台登入密碼：<input class="form-control" type="text" placeholder="請輸入新密碼" aria-label="Search">
                                        </div>
                                        <div class="col-lg-auto col-md-2 col-12">
                                            <button class="btn btn-primary" type="submit">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>手機打卡記錄設定</h4>
                            </div>

                            <div class="card-body">

                                <form class="form-inline mr-auto">
                                    <div class="row">
                                        <div class="col-lg-auto col-md-3 col-3" style="margin-top:10px">
                                            可查詢當月：
                                        </div>
                                        <div class="col-lg-auto col-md-2 col-12" style="margin-top:10px">
                                            <label class="switch">
                                                <input type="checkbox" id="togBtn">
                                                <div class="slider round">
                                                    <span class="on">是</span>
                                                    <span class="off">否</span>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="col-lg-auto col-md-5 col-12">
                                            可查詢天數：<input class="form-control" type="text" placeholder="若設定為0則不限制天數" aria-label="Search">
                                        </div>
                                        <div class="col-lg-auto col-md-1 col-12">
                                            <button class="btn btn-primary" type="submit">修改</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>


                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>上下班時間設定</h4>
                            </div>
                            <div class="card-body">

                                <form class="form-inline mr-auto">
                                    <div class="row">
                                        <div class="col-lg-auto col-md-6 col-12">
                                            上班時間：<input class="form-control" type="time" placeholder="" aria-label="Search">
                                        </div>
                                        <div class="col-lg-auto col-md-5 col-12">
                                            下班時間：<input class="form-control" type="time" placeholder="" aria-label="Search">
                                        </div>
                                        <div class="col-lg-auto col-md-1 col-12">
                                            <button class="btn btn-primary" type="submit">修改</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>下上班逾時打卡設定</h4>
                            </div>

                            <div class="card-body">

                                <form class="form-inline mr-auto">
                                    <div class="row">
                                        <div class="col-lg-auto col-md-3 col-3">
                                            上下班逾時禁止打卡：
                                        </div>
                                        <div class="col-lg-auto col-md-2 col-12">
                                            <label class="switch">
                                                <input type="checkbox" id="togBtn">
                                                <div class="slider round">
                                                    <span class="on">是</span>
                                                    <span class="off">否</span>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="col-lg-auto col-md-5 col-12" style="color: grey;">
                                            *若開啟，上下班30分後打卡，需要後台許可app顯示該筆紀錄。
                                        </div>
                                        <div class="col-lg-auto col-md-1 col-12">
                                            <button class="btn btn-primary" type="submit">修改</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>

        </section>
    </div>
