
@{
    ViewBag.Title = "修改員工資料";
    List<AttendanceManagement.Models.Department> departments = ViewBag.department;//部門
    List<AttendanceManagement.Models.JobTitle> jobTitles = ViewBag.jobtitle;//職稱
    List<AttendanceManagement.Models.ReviewEmployee> reviewEmployees = ViewBag.review_employee; //待審核資料
    int num = ViewBag.Num;
}


<div class="main-content">
    <section class="section">
        <div class="d-flex justify-content-end flex-row bd-highlight">
            <div class="p-2 flex-fill bd-highlight">
                <button class="btn btn-primary" onclick="javascript:window.history.go(-1);" type="submit"><i class="bi-box-arrow-in-left"></i>返回</button>
            </div>
        </div>
        <h1 class="section-header">
            <div>審核員工帳號</div>
        </h1>

        <!--<div class="d-flex bd-highlight mb-3">-->
        @*<div class="p-2 bd-highlight">
            <div class="p-2 flex-fill bd-highlight">
                <div class="search-element">
                    <button class="btn btn-warning" type="submit"><i class="bi-trash-fill"></i>清除設備ID</button>
                </div>
            </div>
        </div>*@
        <!--<div class="p-2 bd-highlight">
            <div class="p-lg-2 flex-fill bd-highlight">
                <div class="search-element">
                    <button class="btn btn-primary" onclick="javascript:window.history.go(-1);" type="submit"><i class="bi-box-arrow-in-left"></i>返回</button>
                </div>
            </div>
        </div>
    </div>-->
        @using (Html.BeginForm("SetEmployeeInformation", "EmployeeData",new { id=reviewEmployees[num].HashAccount}, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">員工姓名</label>
                                        <input id="#" value=@reviewEmployees[num].Name readonly="readonly" type="text" class="form-control" name="#" tabindex="1" placeholder="請輸入員工姓名" required autofocus>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">公司ID</label>
                                        <input id="#" value=@reviewEmployees[num].CompanyId readonly="readonly" type="text" class="form-control" name="#" tabindex="1" placeholder="請輸入公司ID" required autofocus>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">驗證碼(phone code)</label>
                                        <input id="phonecode" name="phonecode" value=@reviewEmployees[num].PhoneCode readonly="readonly" type="text" class="form-control" name="#" tabindex="1" placeholder="請輸入驗證碼" required autofocus>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">Email</label>
                                        <input id="#" value=@reviewEmployees[num].Email readonly="readonly" type="email" class="form-control" name="#" tabindex="1" placeholder="請輸入Email帳號" required autofocus>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">職稱</label>
                                        <select id="jobtitle" name="jobtitle" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                            <option>請選擇職稱</option>
                                            @foreach (var jobtitle in jobTitles)
                                            {
                                                <option>@jobtitle.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">部門</label>
                                        <select id="department" name="department" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                            <option>請選擇部門</option>
                                            @foreach (var department in departments)
                                            {
                                                <option>@department.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center flex-row bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <button class="btn btn-success" id="Button" name="Button" type="submit" value="SaveButton">核准</button>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <button class="btn btn-danger" id="Button" name="Button" value="RejectButton" type="submit">拒絕</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
