
@{ ViewBag.Title = "密碼設定";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    List<AttendanceManagement.Models.ManagerKeyData> managerKeyDatas = ViewBag.ManagerKeyData;
}
@*<style>
        html, body {
            width: 100%;
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>

    <script>
        var map;
        function initMap() {

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0xOKdg7UH0RrFHjydfMhRIz2xvpWkB9E&callback=initMap" async defer></script>*@

<div class="login-brand">
    <span class="nav_logo-name2">&nbsp;</span>
    @*<div id="map"></div>*@
</div>
<style>

    html {
        height: 100%;
    }

    body {
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left;
        background-size: cover;
    }
    :root {
        --header-height: 3rem;
        --first-color: #808080;
        --nav-width: 78px;
        --first-color-light: #808080;
        --white-color: #FFF; /*#5ea7ff #68a3fc*/
        --body-font: 'Nunito', sans-serif;
        --normal-font-size: 1rem;
        --z-fixed: 100;
    }
</style>
@if (managerKeyDatas.Count == 0 || managerKeyDatas[0].ManagerKeyOverDate < DateTime.Now)
{

    <div class="card2 card-primary">
        <div class="card-header"><p>OOPS!抱歉您的連結已過時</p><p></p><h5>請重新發送請求</h5></div>
    </div>
}
else
{
    using (Html.BeginForm("ManagerPassword", "PasswordSetting", new { id = managerKeyDatas[0].HashAccount }, FormMethod.Post, new { name = "frm_password" , id = "frm_password" }))
    {
        @Html.AntiForgeryToken()
        <div class="card2 card-primary" style="width:350px;margin-left:-15px;">
            <div class="card-header" style="padding-bottom:0px;margin-top:5px"><nobr id="companytext">您的公司代碼 : </nobr><nobr id="companytext">@managerKeyDatas[0].Code</nobr></div>
            <div class="card-header"style="padding-bottom:0px;margin-top:5px"><nobr id="companyhello">@managerKeyDatas[0].Name</nobr><nobr id="companyhello">你好 ! 請設定您的新密碼 : </nobr></div>
            <div class="card-body" style="padding-top:15px;padding-bottom:15px">
                <form method="POST" action="#" class="needs-validation" novalidate="">
                    <div class="form-group">
                        <label for="mpassword" style="font-size:medium;">Password</label>
                        <div class="input-group">
                            <input id="mpassword" name="manager_password" type="password" class="form-control" placeholder="Enter password" tabindex="1" required>
                            <div class="input-group-append">
                                <div class="input-group-text" style="cursor:pointer;border: 1px solid #C2BFBF; background-color: #FFFFFF; box-shadow: 3px 3px 3px #D2D3D3; margin-top: -30px;" onclick="showPsw()">
                                    <i id="hide1" class="bi bi-eye-slash"  style="display:inline-block;"></i>
                                    <i id="show1" class="bi bi-eye"  style="display:none;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="mpassword2" name="manager_password2" type="password" class="form-control" placeholder="Confirm password" tabindex="1" maxlength="30" required>
                            <div class="input-group-append">
                                <div class="input-group-text" style="cursor:pointer;border: 1px solid #C2BFBF; background-color: #FFFFFF; box-shadow: 3px 3px 3px #D2D3D3; margin-top: -30px;" onclick="showPsw2()">
                                    <i id="hide2" class="bi bi-eye-slash"  style="display:inline-block;"></i>
                                    <i id="show2" class="bi bi-eye"  style="display:none;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" onclick="load('#frm_password','exampleModalload');" class="btn btn-primary btn-block" tabindex="4" style="background-image: linear-gradient(to top, #09203f 0%, #537895 100%); opacity: 40%; border: 1px solid #ABB7C3">
                            確認
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}

<div class="modal modal-backdrop-bg bd-example-modal-lg" id="exampleModalload" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%; background-color: rgb(90,90,90,0.5);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 120px; height: 120px; display: block; margin: auto; margin-top: 205px; ">
            <div class="modal-body">
                <div id="CenterSet" class="align-self-center">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    var x1 = document.getElementById("mpassword");
    var x2 = document.getElementById("mpassword2");
    function showPsw() {
        if (x1.type === "password") {
            x1.type = "text";
            document.getElementById('show1').style.display = "inline-block";
            document.getElementById('hide1').style.display = "none";
        } else {
            x1.type = "password";
            document.getElementById('hide1').style.display = "inline-block";
            document.getElementById('show1').style.display = "none";
        }
    }
    function showPsw2() {
        if (x2.type === "password") {
            x2.type = "text";
            document.getElementById('show2').style.display = "inline-block";
            document.getElementById('hide2').style.display = "none";
        } else {
            x2.type = "password";
            document.getElementById('hide2').style.display = "inline-block";
            document.getElementById('show2').style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    function load(values1, values) {
        $(values1).submit(function () {
            var modal = document.getElementById(values);
            modal.style.display = "block";
        });
    }
</script>

