
@{
    ViewBag.Title = "修改請假申請";
    List<AttendanceManagement.Models.LeaveRecord> leaveRecords = ViewBag.pass_leaveRecord; //待審核資料
    List<AttendanceManagement.Models.LeaveType> leaveTypes = ViewBag.leaveTypes;
    int num = ViewBag.Num;
}

<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>修改請假申請</div>
        </h1>
        @using (Html.BeginForm("EditLeaveRecord", "LeaveRecords", new { id = leaveRecords[num].LeaveRecordId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-auto col-md-6 col-12">
                                        <label for="#">申請人：</label>
                                        <a href="/EmployeeData/SearchEmployee?department=請選擇部門&jobtitle=請選擇職稱&employee_name=@leaveRecords[num].Name">@leaveRecords[num].Name</a>
                                    </div>
                                    <div class="col-lg-auto col-md-6 col-12">
                                        <label for="#">核准人：</label>
                                        <a href="#">王大明</a>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 20px ; margin-bottom:20px">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">假別</label>
                                        <select id="leavetype" name="leavetype" class="form-control" disabled="disabled">
                                            <option>請選擇假別</option>
                                            @foreach (var leaveType in leaveTypes)
                                            {
                                                if (leaveType.Name.Equals(leaveRecords[num].LeaveType))
                                                {
                                                    <option selected>@leaveType.Name</option>
                                                }
                                                else
                                                {
                                                    <option>@leaveType.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">事由</label>
                                        <input id="reason" type="email" class="form-control" name="reason" value=@leaveRecords[num].Reason tabindex="1" placeholder="請輸入事由" required autofocus disabled="disabled">
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">開始時間</label>
                                        <input id="startdate" type="datetime-local" class="form-control" name="startdate" value=@leaveRecords[num].StartDate.ToString("yyyy-MM-ddTHH:mm:ss") disabled="disabled">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label for="#">結束時間</label>
                                        <input id="enddate" type="datetime-local" class="form-control" name="enddate" value=@leaveRecords[num].EndDate.ToString("yyyy-MM-ddTHH:mm:ss") disabled="disabled">
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <label for="#">審核結果</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        @if (leaveRecords[num].Review == true)
                                        {
                                            <input type="radio" class="btn-check" name="review" id="review" value=true autocomplete="off" checked>
                                        }
                                        else
                                        {
                                            <input type="radio" class="btn-check" name="review" id="review" value=true autocomplete="off">
                                        }
                                        <label class="btn btn-success" for="option1">核准</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        @if (leaveRecords[num].Review == false)
                                        {
                                            <input type="radio" class="btn-check" name="review" id="review" value=false autocomplete="off" checked>
                                        }
                                        else
                                        {
                                            <input type="radio" class="btn-check" name="review" id="review" value=false autocomplete="off">
                                        }
                                        <label class="btn btn-danger" for="option2">拒絕</label>
                                    </div>
                                </div>

                                @*<div class="row" style="margin-bottom:20px">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <label for="#">備註</label>
                                        <textarea name="#" class="form-control"> </textarea>
                                    </div>
                                </div>*@

                                <div class="d-flex justify-content-center flex-row bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <button id="Button" name="Button" value="RenewButton" class="btn btn-success" type="submit">更新</button>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <button id="Button" name="Button" value="BackButton" class="btn btn-primary" onclick="javascript:window.history.go(-1);" type="submit"><i class="bi-box-arrow-in-left"></i>返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </section>
</div>


