
@{
    ViewBag.Title = "Index";
}

<h2>資料匯出</h2>

<div class="form-group">
    <label for="exampleSelect1" class="form-label mt-4">人員：</label>
    <select class="form-select" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <label for="exampleInputPassword1" class="form-label mt-4">開始日期：</label>
    <input type="date" id="dateSearch">
    <label for="exampleInputPassword1" class="form-label mt-4">結束日期：</label>
    <input type="date" id="dateSearch">
    <button type="submit" class="badge bg-primary" style="margin-left:5px">匯出</button>
</div>
